plantuml-markdown>=3.2.2
mkdocs-material>=5.1.3
mkdocs-minify-plugin>=0.2.3
Pygments>=2.6.1
markdown==3.2.1
pymdown-extensions>=6.3
mkdocs-jupyter>=0.10.2
ipython<8.0.0
mkdocs-git-revision-date-localized-plugin>=0.5.2
